.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
    /*  background: #fff; */
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;


}

.logo-img {
    margin-top: -55px;
    margin-bottom: -60px;
    margin-left: -20px;
    width: 190px;
}

.nav-connect {
    padding: 16px 32px;

    /* border-radius: 1px; */
    background: #504ebd;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    color: #FFF;
}

.nav-connect:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.nav-menu li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav-menu li img {
    display: flex;
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}

@media(max-width:768px) {
    .navbar {
        margin: 20px 50px;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #504ebd;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

    .nav-menu li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }

    .logo-img {
        margin-left: -40px;
        margin-top: -50px;
    }


    /* .logo-img {
        margin-top: -55px;
        margin-bottom: -60px;
        margin-left: -20px;
        width: 190px;
    } */
}