* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #88A9C3;
    color: #000000;
    font-family: 'outfit';
}

.logo-img {
    margin-top: -55px;
    margin-bottom: -60px;
    margin-left: -20px;
    width: 180px;
}